<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/framework.css">
    <title>Document</title>
</head>
<body class="bg_color_blue">
    <!-- notifica -->
    <div class="windowsNotification">
        <span id="notify"></span>
    </div>
    <div class="dark-mode">
        <button  class="link"></button>
    </div>
    <div class="changedata">
        <div class="intestazione  m_top_10">
         <span class=" font_size_25 letter_space_10 bold m_right_10">Settings <i class="font_size_25 ms_red fas fa-tools"></i> </span>
         
        </div>
        <div class="changedata-body">
            <input type="text" v-model="id" placeholder="ID">
            <input type="text" v-model="nome" placeholder="Nome">
            <input type="email"  v-model="email" placeholder="Email">
            <input type="text" v-model="password" placeholder="Password">
            <input type="text" v-model="stato" placeholder="Stato(on/off)">
        </div>
    </div>

    <!-- sezione loader -->
    <div class="loader hiddenload">
        <img class="width_25" src="https://www.boolean.careers/images/misc/logo.png" alt="logo">
        <img style="width: 500px;" src="https://files.spazioweb.it/b9/5a/b95ad9d0-9c44-45bb-afe6-62d15d4c093f.gif" alt="logo">
        <span id="textloader">Powered by Crudo Federico</span>
    </div>
    <!-- contenuto con animazione -->
    <div class="contenuto">
        <!-- sezione logo -->
        <header>
            <div class="logo ">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo">
                
            </div>
        </header>
        <!-- contenitore vuejs -->
        <div class="prova">
            <!-- container db -->
            <div class="container pd_T-b_30 ">
                <!-- intestazione -->
                <div class="header  m_top_bott_20">
                    <div class="text_tras_up font_size_35 text-center  m_bottom_10 bold ms_green">DB-Vue <i class="fas fa-database ms_red"></i></div>
                    <span>Si prega di non ricaricare la pagina,altrimenti le modifiche verrano perse</span>
                </div>
                <!-- sezione tool -->
                <div class="tools m_left15">
                    <input id="search"type="text"  @keyup.enter="filtered"    v-model="message"placeholder="cerca...">
                    <button @click="filtered()"  >Cerca</button>
                     <h3 style="margin-bottom:none"   class="bold ms_green">Aggiungi nel db</h3>
                    <div  class="input m_top_bott_35">
                        <input type="text" v-model="id" placeholder="ID">
                        <input type="text" v-model="nome" placeholder="Nome">
                        <input type="email"  v-model="email" placeholder="Email">
                        <input type="text" v-model="password" placeholder="Password">
                        <input type="text" v-model="stato" placeholder="Stato(on/off)">
                        <button @click="addItems()"   class="buttonAdd font_size_18">Aggiungi</button>
                    </div>
                </div>
                <!-- sezione elementi db -->
                <div class="element text-center ">
                    <div class="row font_size_18 m_bottom_10">
                        <div class="col-xs-1 bold">ID.</div>
                        <div class="col-xs-2 bold">Nome</div>
                        <div class="col-xs-3 bold">Email</div>
                        <div class="col-xs-2 bold">Password</div>
                        <div class="col-xs-2 bold">Stato</div>
                        <div class="col-xs-2 bold">Operazioni </div>
                                
                    </div>
                    <div v-if="message.length==0">
                        <div v-for="(item,index) in items"   class="row row-element font_size_18 pd_t_b_10 m_bottom_10 row_style bg_color_section">
                            <div class="col-xs-1 ">{{item.index}}</div>
                            <div class="col-xs-2">{{item.user}}</div>
                            <div class="col-xs-3">{{item.email}}</div>
                            <div class="col-xs-2 ">{{item.password}}</div>
                            <div class="col-xs-2 "><i class="fas fa-circle" :class="(item.stato=='on') ? 'green' : 'red'" ></i></div>
                            <div class="col-xs-2"><i @click="remove(index,item.index)"class="ms_red far fa-trash-alt"></i> <i @click="changeItems" class=" ms_text_blue fas fa-edit"></i> </div>
                        </div>   
                    </div>
                    <div v-else>
                        <div v-for="(item,index) in itemsFilter"   class="row row-element  font_size_18 pd_t_b_10 m_bottom_10 row_style bg_color_section">
                            <div class="col-xs-1 ">{{item.index}}</div>
                            <div class="col-xs-2">{{item.user}}</div>
                            <div class="col-xs-3">{{item.email}}</div>
                            <div class="col-xs-2 ">{{item.password}}</div>
                            <div class="col-xs-2 "><i class="fas fa-circle" :class="(item.stato=='on') ? 'green' : 'red'" ></i></div>
                            <div class="col-xs-2"><i @click="removeFilter(index,item.index)"class="far fa-trash-alt"></i>  </div>
                        </div>   
                    </div>
                             
   
                </div>
            </div>
            <!-- container elementi eliminati -->
            <div class="container pd_T-b_30 ">
                <!-- elementi db -->
                <div class="element text-center">
                    <h4 class="bold ms_red  pd_B_10">Elementi eliminati</h4>
                    <div class="row font_size_18 m_bottom_10">
                        <div class="col-xs-1 bold">N.</div>
                        <div class="col-xs-2 bold">Nome</div>
                        <div class="col-xs-3 bold">Email</div>
                        <div class="col-xs-2 bold">Password</div>
                        <div class="col-xs-2 bold">Stato</div>
                        <div class="col-xs-2 bold">Operazioni </div>
                                
                    </div>
                    <div v-for="(item,index) in itemsDelete"   class="row pd_t_b_10 m_bottom_10 font_size_18 row_style bg_color_section">
                        <div class="col-xs-1 ">{{item.index}}</div>
                        <div class="col-xs-2">{{item.user}}</div>
                        <div class="col-xs-3">{{item.email}}</div>
                        <div class="col-xs-2 ">{{item.password}} {{message}}</div>
                        <div class="col-xs-2 "><i class="fas fa-circle" :class="(item.stato=='on') ? 'green' : 'red'" ></i></div>
                        <div class="col-xs-2"><i @click="removeDelete(index)"class="far fa-trash-alt"> </i> <i @click="restore(index,item.index)"class="fas fa-trash-restore"></i> </div> 
                    </div>              
                     <button @click="removeall" class="buttonDelete m_top_10 font_size_18">{{display()}}Elimina Tutti</button>
                </div>
            </div>
        </div>
        
       
    </div>
    
    <script src="js/vue.js"></script>
</body>
</html>